<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= squad.name %> · Overzichtspagina</title>
    <link rel="stylesheet" href="./styles/main.css"></link>
    <link rel="icon" type="image/png" href="https://itchy-pig-petticoat.cyclic.app/images/2020-Espant-logo-vignet-wit-256x256.png">
</head>