<header>
<<<<<<< HEAD
	<ul>
		<% squads.forEach((squad) => { %>
		<li>
			<a href="/?id=<%= squad.id %>"><%= squad.name %></a>
		</li>
		<% }) %>
	</ul>
=======
    <ul>
        <li>
            <a>Squad A</a>
        </li>
        <li>
            <a>Squad B</a>
        </li>
        <li>
            <a href=""> <%= squad.name %></a>
        </li>
</ul>
>>>>>>> 9c6319085c44dcdaf3077aa713765b08cea7ba65
</header>