<header>
    <ul>
        <li>
            <a>Squad A</a>
        </li>
        <li>
            <a>Squad B</a>
        </li>
        <li>
            <a> <%= squad.name %></a>
        </li>
</ul>
</header>