<%- include('./partials/head.ejs') %>

<body>
<main>
    <section>
        <!-- <h1>Selecteer een drank</h1> -->

        <%- include('./partials/coffee-machine.ejs') %>
    </section>
    <section>

        <%- include('./partials/squad-members.ejs') %>
    </section>
</main>
</body>

<%- include('./partials/foot.ejs') %>