/* Reset controls */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:focus-visible {
    outline: none;
}

button {
    cursor: pointer;
}

button:focus-visible {
    outline: none;
}

:root {
    /* Animations */
    --a-quick: 0.2s;
    --a-default: 0.3s;
    --a-medium: 0.6s;

    /* Borders */
    --b-round: 50%;

    /* Colors */
    --c-default: #fafafa;
    --c-invert: #121212;
    --c-primary-0: #f0f2f4;
    --c-primary-25: #9bb3df;
    --c-primary-50: #647fb3;
    --c-primary-75: #294d90;
    --c-primary-100: #2e3f5f;
    --c-secundary-0: #e17878;
    --c-secundary-50: #bf3c3c;
    --c-secundary-100: #8b5a5a;
    --c-tertiary-50: #7d593b;
    --c-tea: #e7e2596a;
    --c-water: #82c0db;

    /* Layout */
    --w-dix: 10vw;
    --w-quarter: 25vw;
    --w-third: 33vw;
    --w-half: 50vw;
    --w-full: 100vw;
    --h-full: 100vh;

    /* Units */
    --u-nano: 0.1em;
    --u-micro: 0.25em;
    --u-small: 0.375em;
    --u-medium: 0.5em;
    --u-default: 1em;
    --u-large: 2em;
}

body {
    overflow-y: hidden;
    background-color: var(--c-primary-0);
    font-family: open sans, sans-serif;
}

/* Lay-out */

section:first-child {
    width: var(--w-full);
    height: auto;
    position: absolute;
    bottom: 15em;
}

section:last-child {
    width: var(--w-full);
    height: 15em;
    background-color: var(--c-primary-25);
    padding: var(--u-default);
    position: absolute;
    bottom: 0;
}

/* icons */

svg {
    fill: var(--c-primary-75);
}

/* Typography */

h1 {
    color: var(--c-secundary-50);
    display: none;
}

h2 {
    font-size: 1em;
    color: var(--c-primary-100);
}



/* Coffee machine */
.coffee-machine {
    width: fit-content;
    display: block;
    margin: var(--u-default) auto 0;
    position: relative;
}

.coffee-machine .body {
    width: 16em;
    height: 32em;
    background-color: var(--c-primary-50);
    border-radius: 0.5em 0.5em 0 0;
    padding: var(--u-large);
}

.coffee-machine .module {
    width: 12em;
    height: 16em;
    background-color: var(--c-primary-25);
    border-radius: var(--u-small);
    padding: var(--u-default);
}

.coffee-machine .display {
    width: auto;
    height: 100%;
    background-color: var(--c-default);
    border-radius: var(--u-micro);
}

.coffee-machine .display ul {
    height: 100%;
}

.coffee-machine .display li {
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coffee-machine .display button {
    width: 10em;
    height: 4em;
    color: var(--c-primary-75);
    background-color: var(--c-primary-0);
    border: 0.2em solid var(--c-primary-25);
    border-radius: var(--u-micro);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--u-small);
    transition: var(--a-default);
}

.coffee-machine .display button:hover {
    background-color: var(--c-primary-25);
}

.coffee-machine .display button:active {
    background-color: var(--c-primary-75);
    color: var(--c-primary-25);
}
.coffee-machine .display button:active svg {
    fill: var(--c-primary-25);
}

.coffee-machine .display button:focus {
    background-color: var(--c-primary-25);
}

.coffee-machine .dispenser {
    width: 6em;
    height: 4em;
    background-color: var(--c-secundary-50);
    border-radius: 0 0 var(--u-small) var(--u-small);
    position: relative;
    z-index: 3;
    margin: 0 auto;
}

.coffee-machine .dispenser .left-dispenser,
.right-dispenser {
    width: 1.5em;
    height: 1em;
    background-color: var(--c-secundary-0);
    border-radius: 0 0 var(--u-small) var(--u-small);
    position: absolute;
    z-index: 2;
    bottom: -1em;
}

.coffee-machine .dispenser .left-dispenser {
    left: var(--u-default);
}

.coffee-machine .left-dispenser-output,
.right-dispenser-output {
    width: 1em;
    height: 0em;
    position: absolute;
    z-index: 0;
    top: 1em;
    left: 0.25em;
}

.liquid {
    animation: liquid 10s 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.coffee {
    background-color: var(--c-tertiary-50);
}

.tea {
    background-color: var(--c-tea);
}

.water {
    background-color: var(--c-water);
}

@keyframes liquid {
    0% {
        height: 0em;
    }

    2% {
        height: 1em;
    }

    98% {
        height: 1em;
    }

    100% {
        height: 0em;
    }
}

.coffee-machine .dispenser .right-dispenser {
    right: var(--u-default);
}

.coffee-machine .mugholder {
    width: 12em;
    height: 12em;
    background-color: var(--c-primary-100);
    position: absolute;
    bottom: 0;
    border-radius: 0.5em 0.5em 0 0;
}

.coffee-machine .mug {
    width: 5em;
    height: 5em;
    display: block;
    background-color: var(--c-primary-0);
    border-radius: 0 0 33% 33%;
    position: absolute;
    top: 4em;
    left: 3.5em;
}

.coffee-machine .mugear {
    width: 2.5em;
    height: 2.5em;
    background-color: var(--c-primary-0);
    border-radius: 0 50% 50% 0;
    position: absolute;
    right: -2em;
}

.coffee-machine .mugear::after {
    content: "";
    width: 1em;
    height: 1em;
    background-color: var(--c-primary-100);
    border-radius: 0 50% 50% 0;
    position: absolute;
    top: 0.75em;
    left: 0.75em;
}

.coffee-machine .mugplatform {
    width: 8em;
    height: 1em;
    background-color: var(--c-secundary-50);
    border-radius: var(--u-micro);
    position: absolute;
    left: var(--u-large);
    bottom: 2em;
    margin: 0 auto;
}

/* Squad member list */

.squad-members {
    height: 12.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--u-small);
    margin: 0 auto;
    overflow: hidden;
}

.squad-members ul {
    width: 80vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding: 1em;
    gap: var(--u-default);
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scrollbar-color: none;
    scrollbar-width: none;
}

/* .squad-members ul::before {
    content:'';
    height: 100%;
    width:50px;
    background:linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
    position: absolute;
    top:0;
    right:0;
    z-index:1;
}

.squad-members ul::after {
    content:'';
    height: 100%;
    width:50px;
    background:linear-gradient(-90deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
    position: absolute;
    top:0;
    right:0;
    z-index:1;
} */


.squad-members li {
    width: 10em;
    height: 12em;
    display: block;
    background-color: var(--c-primary-0);
    box-shadow: 0.1em 0.1em 0em 0.1em var(--c-primary-50);
    border-radius: var(--u-medium);
    padding: var(--u-default);
    scroll-snap-align: center;
}

.squad-members a li {
    transition: var(--a-default);
    border-bottom: var(--u-nano) solid var(--c-primary-25);
}

.squad-members a:hover li {
    transition: var(--a-default);
    border-bottom: var(--u-small) solid var(--c-primary-50);
}

.squad-members a:focus li {
    transition: var(--a-default);
    border-bottom: var(--u-small) solid var(--c-primary-50);
}

.squad-members article {
    width: 100%;
    height: 4em;
}

.squad-members img {
    width: 4em;
    height: 4em;
    display: block;
    border: 0.1em solid var(--c-primary-25);
    border-radius: var(--u-small);
    margin-bottom: var(--u-small);
}

.squad-members img {
    display: block;
}

.squad-members svg {
    width: 4em;
    height: 4em;
    fill: var(--c-primary-50);
}

@media (min-width: 48em) {
    h1 {
        font-size: 2.5em;
        display: block;
    }

    .title {
        width: 40vw;
        line-height: 1.1;
        display: block;
        position: absolute;
        left: 8vw;
        bottom: 16em;
    }

    .coffee-machine {
        margin: 0;
        position: absolute;
        bottom: 0;
        right: 20vw;
    }

    .squad-members ul {
        width: 66vw;
        position: relative;
    }
}